* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

body>* {
  min-height: 1em;
}

h1 {
  margin: 0;
  font-size: 100%;
}

header,
.cyan {
  background: #009FDF;
  grid-column: 3 / 6;
  grid-row: 1 / 1;

}

nav,
.magenta {
  background: #D40F7D;
  grid-column: 1 / 5;
  grid-row: 2 / 2;

}

main,
.yellow {
  background: #FAE100;
  grid-column: 2 / 6;
  grid-row: 3 / 3;

}

footer,
.black {
  background: #2C2A29;
  color: white;
  grid-column: 2 / 6;
  grid-row: 4 / 4;

}

a,
a:visited {
  color: inherit;
}